/* 不要な設定をコメントアウト */
* {
  margin: 0;
  padding: 0;
  background-color: transparent;
}
img {
  overflow: unset;
  overflow-clip-margin: unset;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #fdf8f6;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
#root {
  min-height: 100vh;
}

/* モーダルが開いている時、bodyをスクロール不可 */
body:has(dialog[open]) {
  overflow: hidden;
}
