/* メディアクエリ専用パーシャル */
// モバイルファーストでの設計

@use 'sass:map'; // mapモジュール使用

$tabletBreakpoint: 768px;
$monitorBreakpoint: 1024px;

// breakpoint定義（マップ定義）
$breakPoint: (
  tb: 'only screen and (min-width:' + $tabletBreakpoint + 'px)',
  pc: 'only screen and (min-width:' + $monitorBreakpoint + 'px)',
);

// ブレイクポイントを設定するミックスイン作成
// 引数：デバイス種
@mixin media($device) {
  @media #{map.get($breakPoint, $device)} {
    @content; // 外部から渡されたコンテントブロックを展開
  }
}
