// 設定読み込み
@use 'variables'; // 変数読み込み

// 本体 //
// 上下左右中央寄せ
@mixin itemCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin areaAppBase {
  position: relative; /* タイトル配置の基準 */
  margin: 1em auto 0.5em; /* 外側余白 */
  background-color: #f6eeec; /* ボックス背景色 */
}

@mixin areaAppTitle {
  background-image: repeating-linear-gradient(
    -45deg,
    #f6eeec 0,
    #f6eeec 3px,
    #fafafa 3px,
    #fafafa 6px
  ); /* ストライプ模様 */
  transform: rotate(-2deg); /* テープの傾き */
  box-shadow: 0 1px 2px rgb(0 0 0 / 0.1); /* テープの影 */
  padding: 0.5em 1em; /* 内側余白 */
  line-height: 1; /* 行の高さ */
  position: absolute; /* 親の左上に固定 */
  top: -1em; /* 上位置 */
  left: 1em; /* 左位置 */
  display: inline-block; /* 内容幅に合わせる */
  font-size: 0.9em; /* フォントサイズ */
  width: auto; /* 幅自動調整 */
  max-width: calc(100% - 2em); /* 最大幅調整 */
  white-space: nowrap; /* 折り返さない */
  overflow: hidden; /* はみ出し非表示 */
  text-overflow: ellipsis; /* 省略記号表示 */
}

@mixin areaAppContents {
  padding: 1.5em 5px 0.75em; /* 内側余白 */
}

@mixin hrLine {
  border: none;
  height: 1px;
  width: 90%;
  margin: 5px auto 10px;
  align-self: center;
  background-color: var(--borderColor);
}

@mixin imageOnOff {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  .switchBox {
    margin: 25px 0;
    // 見た目の設定
    position: relative;
    width: variables.$switchWidth;
    height: variables.$switchHeight;
    border-radius: 50px;
    overflow: hidden;
    cursor: pointer;
    border: none;

    // 縦向きにする
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);

    // チェックボックスは見せない
    input[type='checkbox'] {
      display: none;
    }

    // 通常表示
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      background: #e9e9eb;
      -webkit-transition: 0.2s ease-out;
      transition: 0.2s ease-out;
    }
    &::after {
      content: '';
      position: absolute;
      top: 3px;
      left: 3px;
      width: variables.$switchButtonSize;
      height: variables.$switchButtonSize;
      display: block;
      border-radius: 50px;
      background: #fff;
      box-shadow: 0 9px 28px -6px rgba(0, 0, 0, 0.3);
      -webkit-transition: 0.2s ease-out;
      transition: 0.2s ease-out;
    }

    // キラ表示
    &.checked:before {
      background: var(--titleBorderColor); // MainModal.scssに設定
    }
    &.checked::after {
      left: variables.$switchMoveLeft;
      box-shadow: 0 9px 28px -6px rgba(0, 0, 0, 0.5);
    }
  }
}

@mixin dialogBase {
  margin: auto;
  // margin-top: variables.$safeTop;
  width: 90vw;
  height: 85vh;
  background-color: #fafafa;
  border: 1px solid #faeafa;
  border-radius: 5px;
  position: fixed; // buttonのabsoluteの下準備＋モーダルオープン時の背景位置固定
  overflow: hidden; // モーダルの箱は動かさない

  &:focus {
    outline: none;
  }
}
