/* 変数を定義専用パーシャル */

// グリッド表示時
$cardWidth: 150px; // カード幅
$cardGap: 20px; // グリッドのギャップ

// セーフエリア
$paddingBottom: 44px;
$safeTop: env(safe-area-inset-top, 0);
$safeBottom: env(safe-area-inset-bottom, 0);

// グリッド枠
$modalGridBorderColor: #fff5ff;

// 重ねて比較の切り替えスイッチ
$switchWidth: 74px;
$switchHeight: 36px;
$switchButtonSize: ($switchHeight - 6px);
$switchMoveLeft: $switchHeight + 5px;

// 重ねて比較の角丸
$radiusSize: 10px;
