/* 全ページの基本設定 */
@use 'sass:math';
@use 'mixins'; // ミックスイン読み込み
@use 'variables'; // 変数読み込み

/* スタイル */
.App {
  text-align: center;
  width: 100%;
}

// 各ポケモンのカードをグリッドで表示

.pokemonCardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(variables.$cardWidth + variables.$cardGap, 1fr));
  justify-items: center;
  align-items: self-start;
  row-gap: variables.$cardGap;
  column-gap: math.div(variables.$cardGap, 2);
  margin: 2vw;
}
