/* 全ページの基本設定 */
@use 'sass:math';
@use 'mixins'; // ミックスイン読み込み
@use 'variables'; // 変数読み込み

/* スタイル */
.App {
  text-align: center;
  width: 100%;
}

// 各ポケモンのカードをグリッドで表示

.pokemonCardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(variables.$cardWidth + variables.$cardGap, 1fr));
  justify-items: center;
  align-items: center;
  gap: variables.$cardGap;
  margin: 2vw;
}

// ページ移動ボタン
.btn {
  padding: 30px 0;
  @include mixins.itemCenter;

  button {
    margin: 10px 30px;
    padding: 10px 30px;
    background-color: floralwhite;
    border: none;
    border-radius: 3px;
    box-shadow: 5px 5px 6px 0px rgba(96, 58, 136, 0.75);
    cursor: pointer;
    transition: all 0.15s;

    &:hover {
      transform: translateY(3px);
    }
  }
}
