/* 全ページの基本設定 */
@use 'sass:math';
@use 'mixins'; // ミックスイン読み込み
@use 'variables'; // 変数読み込み

/* スタイル */
.App {
  text-align: center;
  width: 100%;
  padding-bottom: calc(variables.$paddingBottom + variables.$safeBottom);

  // 配下のリストの初期化
  .ul {
    list-style: none;
  }
}

// 各ポケモンのカードをグリッドで表示

.pokemonCardContainer {
  margin: 10px;
  margin-left: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(variables.$cardWidth + variables.$cardGap, 1fr));
  justify-items: center;
  align-items: self-start;
  row-gap: variables.$cardGap;
  column-gap: math.div(variables.$cardGap, 2);
}
