/* カードComponent用CSS */

.card {
  width: 290px;

  /* カードの影 */
  align-items: center;
  justify-content: center;
  color: #333333;
  background-color: rgba(178, 38, 85, 0.025);
  border-radius: 5px;
  box-shadow: 5px 5px 6px 0px rgba(96, 58, 136, 0.75);
}

.cardName {
  padding: 0;
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: 10px;
}

.cardInfo {
  text-align: center;
}
