/* カードComponent用CSS */
@use 'variables'; // 変数読み込み

.card {
  width: variables.$cardWidth;
  padding: 0 3% 3%;

  /* カードの影 */
  align-items: center;
  justify-content: center;
  color: #333333;
  background-color: rgba(178, 38, 85, 0.025);
  border-radius: 5px;
  box-shadow: 5px 5px 6px 0px rgba(96, 58, 136, 0.75);

  .cardImg {
    width: 90%;
    text-align: center;
  }

  .cardName {
    padding: 0;
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .cardTypes {
    display: flex;
    justify-content: space-evenly;

    img {
      width: 47.5%;
    }
  }
}
