// ローディング画面用スタイル
@use 'mixins'; // ミックスイン読み込み

div.loading {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(227, 164, 164, 0.75);
  font-size: 1.5rem;
  @include mixins.itemCenter;
  flex-direction: column;

  .loadImg {
    display: block;
    width: 5vw;
    animation: korokoro 2.5s linear 0s infinite;
  }
  p {
    display: block;
  }
}

@keyframes korokoro {
  0% {
    transform: translate(0%, 0%);
  }
  10% {
    transform: translate(10%, 0%) rotate(10deg);
  }
  15% {
    transform: translate(20%, 0%) rotate(20deg);
  }
  30% {
    transform: translate(-10%, 0%) rotate(-10deg);
  }
  35% {
    transform: translate(-15%, 0%) rotate(-15deg);
  }
  45% {
    transform: translate(10%, 0%) rotate(10deg);
  }
  50% {
    transform: translate(15%, 0%) rotate(15deg);
  }
  60% {
    transform: translate(-5%, 0%) rotate(-5deg);
  }
  65% {
    transform: translate(-7%, 0%) rotate(-10deg);
  }
  90% {
    transform: translate(0%, 0%) rotate(0deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(0deg);
  }
}
