// ローディング画面用スタイル
@use 'mixins'; // ミックスイン読み込み
@use 'media'; // メディアクエリ読み込み

// Googleフォント読み込み
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Petit+Formal+Script&display=swap');

div.loading {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 1.75rem;
  background-color: rgba(227, 164, 164, 0.75);
  @include mixins.itemCenter;
  flex-direction: column;

  @include media.media('tb') {
    font-size: 2.5rem;
  }

  @include media.media('pc') {
    font-size: 2.5rem;
  }

  .loadImg {
    width: 20vw;
    animation: korokoro 2.5s linear 0s infinite;

    @include media.media('pc') {
      width: 5vw;
    }
  }

  p {
    font-family: 'Petit Formal Script', cursive, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: bold;
  }
}

// アニメーション設定
@keyframes korokoro {
  0% {
    transform: translate(0%, 0%);
  }
  10% {
    transform: translate(10%, 0%) rotate(10deg);
  }
  15% {
    transform: translate(20%, 0%) rotate(20deg);
  }
  30% {
    transform: translate(-10%, 0%) rotate(-10deg);
  }
  35% {
    transform: translate(-15%, 0%) rotate(-15deg);
  }
  45% {
    transform: translate(10%, 0%) rotate(10deg);
  }
  50% {
    transform: translate(15%, 0%) rotate(15deg);
  }
  60% {
    transform: translate(-5%, 0%) rotate(-5deg);
  }
  65% {
    transform: translate(-7%, 0%) rotate(-10deg);
  }
  90% {
    transform: translate(0%, 0%) rotate(0deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(0deg);
  }
}
