/* メインモーダルComponent用CSS */

.mainModal {
  margin: auto;
  width: 90vw;
  height: 85vh;
  background-color: #fafafa;
  border: 1px solid #faeafa;
  border-radius: 5px;

  // 内容エリア
  .pokemonDetail {
    padding: 5px;
  }

  .modalCloseButton {
    // 閉じるボタン
    padding: 10px;
    border: 0;
    position: absolute;
    top: 0;
    right: 0;
  }
}
