/* メインモーダルComponent用CSS */

// 設定ファイル読み込み
@use 'mixins'; // ミックスイン読み込み

// スタイル記述
.mainModal {
  margin: auto;
  width: 90vw;
  height: 85vh;
  background-color: #fafafa;
  border: 1px solid #faeafa;
  border-radius: 5px;

  // 内容エリア
  .pokemonDetail {
    padding: 5px;
    width: 100%;
  }

  .modalCloseButton {
    // 閉じるボタン
    padding: 10px;
    border: 0;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.modalContents {
  width: 100%;

  .mainIntroduction {
    .appearanceRegions {
      .regionName {
        @include mixins.displayTile;
        &.show {
          background-color: #c53d43;
        }
      }
    }
    .appearanceVersions {
      .generations {
        margin: 10px;

        .version {
          @include mixins.displayTile;
          &.appearance {
            background-color: #1e50a2;
          }
        }
      }
    }
    .special span {
      @include mixins.displayTile;
      &.show {
        background-color: #007b43;
      }
    }
    .genderRates > span {
      margin: 1px 2px;
      padding: 2px 5px;
    }
    .size span {
      margin: 1px 2px;
      padding: 2px 5px;
    }
    .eggGroup .eggName {
      @include mixins.displayTile;
      &.show {
        background-color: #e6b422;
      }
    }
  }
  .imgDiff {
    margin: 10px;
    & > div {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      figure {
        border: 0.1px solid #faeafa;
        width: 100%;
        figcaption {
          margin: 10px auto -50px;
          font-weight: bold;
        }
      }
    }
  }
}
