/* メインモーダルComponent用CSS */

// 設定ファイル読み込み
@use 'mixins'; // ミックスイン読み込み

// スタイル記述
.mainModal {
  margin: auto;
  width: 90vw;
  height: 85vh;
  background-color: #fafafa;
  border: 1px solid #faeafa;
  border-radius: 5px;
  position: relative; // buttonのabsoluteの下準備
  overflow: hidden; // モーダルの箱は動かさない

  &:focus {
    outline: none;
  }

  // 内容エリア
  .pokemonDetail {
    padding: 5px;
    width: 100%;
    height: 100%;
    overflow-y: auto; // 中身エリアだけスクロール
  }

  // 閉じるボタン
  .modalCloseButton {
    padding: 10px;
    border: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    cursor: pointer;
  }
}

.modalContents {
  width: 100%;

  .mainIntroduction {
    // 該当する対象だけ着色するタイル群
    .tiles {
      @include mixins.displayTile;
      &.show {
        &.regionName {
          background-color: #c53d43;
        }
        &.version {
          background-color: #1e50a2;
        }
        &.special span {
          background-color: #007b43;
        }
        &.eggName {
          background-color: #e6b422;
        }
      }
    }
  }
  .imgDiff {
    & > div {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
