// ナビゲーションバーのスタイル
@use 'mixins'; // ミックスイン読み込み
@use 'media'; // メディアクエリ読み込み

@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
nav {
  background-color: #dd1e24;
  height: 10vh;
  position: sticky;
  top: 0;

  h1 {
    height: 100%;
    font-family: 'Dela Gothic One', sans-serif;
    color: #fff2f2;
    font-size: 1.75rem;
    padding-right: 10vw;
    @include mixins.itemCenter;

    @include media.media('tb') {
      font-size: 5vh;
    }

    @include media.media('pc') {
      padding-right: 0;
      font-size: 4vh;
    }
  }
  .titleLogo {
    height: 40%;
    margin-bottom: 20px;
    margin-right: 3px;
  }
}
