// ナビゲーションバーのスタイル
@use 'mixins'; // ミックスイン読み込み

@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
nav {
  background-color: #dd1e24;
  height: 10vh;
  position: sticky;
  top: 0;

  h1 {
    height: 100%;
    font-family: 'Dela Gothic One', sans-serif;
    color: #fff2f2;
    font-size: 1.75rem;
    @include mixins.itemCenter;
  }
  .titleLogo {
    height: 50%;
    margin-bottom: 20px;
    margin-right: 3px;
  }
}
